<table id="backgroundtable" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:650px;" bgcolor="#ffffff">
    <tr>
        <td id="skeleton" valign="top" align="center">
<!-- A: Header -->
<table class="section" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td valign="top" align="center">
                        <table class="wrapper" role="presentation" style="min-width:650px; width: 650px;" cellspacing="0" cellpadding="0" border="0" width="650">
                            <tr>
                                <td class="mobHpadding" align="center" style="padding:24px 25px 24px 25px;">
                                    <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tr>
                                            <td align="center">
                                                <a href="https://deliveroo.co.uk/?utm_source=deliveroo_crm&amp;utm_medium=email&amp;utm_campaign=campaign_name" style="border:none;" target="_blank"><img src="https://roo-email-assets.s3.amazonaws.com/dist/appboy-assets/template/roo-wordmark@3x.png" style="display:block; border:none; font-family:arial, helvetica, sans-serif; font-size:20px; line-height:1.3em; color:#00ccbc; text-decoration:none; font-weight:bold; text-align: center;" alt="deliveroo" width="96" height="18"></a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
<!-- /A Header -->
<!-- D: Teal banner -->
<table class="section" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td valign="top" align="center">
                        <table class="wrapper" role="presentation" style="min-width:650px; width: 650px;" cellspacing="0" cellpadding="0" border="0" width="650">
                            <tr>
                                <td class="mobHpadding" align="center" style="padding:0 25px 0 25px;">
                                    <!--[if gte mso 9]>
<table role="presentation" cellpadding="0" cellspacing="0" border="0" width="600">
<tr>
<td valign="top" width="300">
<![endif]-->
                                    <table class="fluid" role="presentation" width="300" border="0" align="left" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="center"><img class="resize" src="https://goldblum.herokuapp.com/<%= locals[:image_url] %>" style="display:block; border:none; font-family:HelveticaNeue, helvetica, arial, sans-serif; font-size:14px; line-height:1.3em; color:#00ccbc; text-decoration:none; font-weight:normal; text-align:center; max-width:300px;" alt="" width="300" height="300"></td>
                                        </tr>
                                    </table>

                                    <!--[if gte mso 9]>
</td>
<td valign="top" width="300">
<![endif]-->
                                    <table class="fluid" role="presentation" width="300" border="0" align="left" cellpadding="0" cellspacing="0" bgcolor="#00ccbc">
                                        <tr>
                                            <td class="autoheight" align="center" valign="middle" height="300">
                                                <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
                                                    <tr>
                                                        <td style="padding:32px 0 40px 0">
                                                            <p style="font-family:HelveticaNeue, helvetica, arial, sans-serif; font-size:15px; line-height:1.5em; color:#ffffff; text-align:center; font-weight:normal; text-decoration:none; Margin:0 0 12px 0; padding:0; mso-line-rule:exactly;">Your new identity:</p>
                                                            <h4 class="Bmargin8" style="font-family:HelveticaNeue, helvetica, arial, sans-serif; font-size:24px; line-height:1.3em; color:#ffffff; text-align:center; font-weight:bold; text-decoration:none; Margin:0 0 12px 0; padding:0; mso-line-rule:exactly; text-transform:uppercase;"><%= locals[:hero_heading] %></h4>
                                                            <p style="font-family:HelveticaNeue, helvetica, arial, sans-serif; font-size:15px; line-height:1.5em; color:#ffffff; text-align:center; font-weight:normal; text-decoration:none; Margin:0 0 24px 0; padding:0 20px; mso-line-rule:exactly;"><%= locals[:hero_text] %></p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--[if gte mso 9]>
</td>
</tr>
</table>
<![endif]-->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
<!-- /D: Teal banner -->
<!-- H1: Original -->
<table class="section" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td valign="top" align="center">
                        <table class="wrapper" role="presentation" style="min-width:650px; width: 650px;" cellspacing="0" cellpadding="0" border="0" width="650">
                            <tr>
                                <td class="mobHpadding" align="center" style="padding:0 25px 0 25px;">
                                    <h1 class="hmodule" style="font-family: HelveticaNeue, helvetica, arial, sans-serif; font-size:56px; line-height:1.2em; color:#2e3333; text-align:left; font-weight:bold; text-decoration:none; Margin:32px 0 16px 0; padding:0; mso-line-rule:exactly;">You’ve been Goldblum’d.</h1>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
<!-- /H1: Original -->
<!-- F2: Original (Text only) -->
<table class="section" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td valign="top" align="center">
                        <table class="wrapper" role="presentation" style="min-width:650px; width: 650px;" cellspacing="0" cellpadding="0" border="0" width="650">
                            <tr>
                                <td class="mobHpadding" align="center" style="padding:0 25px 0 25px;">
                                    <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">

                                      <tr>
                                          <td class="Rpadding0" style="padding:0 103px 32px 0">
                                              <p class="Bmargin16" style="font-family:HelveticaNeue, helvetica, arial, sans-serif; font-size:15px; line-height:1.4em; color:#585c5c; text-align:left; font-weight:normal; text-decoration:none; Margin:0; padding:0; mso-line-rule:exactly;"><strong>You left your computer unlocked, and so one of your colleagues <em>Goldblum’d</em> you on Slack!</strong></p>
                                          </td>
                                      </tr>

                                      <tr>
                                          <td class="Rpadding0" style="padding:0 103px 32px 0">
                                              <p class="Bmargin16" style="font-family:HelveticaNeue, helvetica, arial, sans-serif; font-size:15px; line-height:1.4em; color:#585c5c; text-align:left; font-weight:normal; text-decoration:none; Margin:0; padding:0; mso-line-rule:exactly;"><strong>Why does this matter?</strong> Well, if you leave your computer or smartphone unlocked (no matter whether you’re in the office or not) anyone walking past could gain access to sensitive or confidential materials. Worse yet, a competitor might use the opportunity to steal proprietary knowledge related to our business. So, what can you do? First of all, make sure you have a mechanism for quickly locking your screen whenever you walk away from your computer.</p>
                                          </td>
                                      </tr>


                                      <tr>
                                          <td class="Rpadding0" style="padding:0 103px 32px 0">
                                              <p class="Bmargin16" style="font-family:HelveticaNeue, helvetica, arial, sans-serif; font-size:15px; line-height:1.4em; color:#585c5c; text-align:left; font-weight:normal; text-decoration:none; Margin:0; padding:0; mso-line-rule:exactly;"><strong>On a Mac</strong>, you have several options, most of which involve triggering the Screensaver (with screensaver password lock enabled). You can read more about how to do this here (and some other ways) <a href="http://www.macworld.co.uk/how-to/mac/how-lock-mac-3639053/" style="color:#00ccbc; text-decoration: none; font-weight:bold; line-height: 1.3em;"target="_blank">here</a>. If you’re using a <strong>Windows PC</strong>, pressing the Windows key together with the <strong>L</strong> key will lock your screen. There are also some other ways, which you can <a href="http://www.dummies.com/computers/pcs/how-to-lock-your-pc/" style="color:#00ccbc; text-decoration: none; font-weight:bold; line-height: 1.3em;"target="_blank">read about here</a>.</p>
                                          </td>
                                      </tr>

                                      <tr>
                                          <td class="Rpadding0" style="padding:0 103px 32px 0">
                                              <p class="Bmargin16" style="font-family:HelveticaNeue, helvetica, arial, sans-serif; font-size:15px; line-height:1.4em; color:#585c5c; text-align:left; font-weight:normal; text-decoration:none; Margin:0; padding:0; mso-line-rule:exactly;">Keeping your smartphone secure is also important if you use it for work purposes. If you have an <strong>iPhone</strong>, here’s how you can <a href="https://support.apple.com/en-gb/HT204060" style="color:#00ccbc; text-decoration: none; font-weight:bold; line-height: 1.3em;"target="_blank">set a passcode</a> (and if it supports it, use Touch ID). If you use an <strong>Android</strong> smartphone, <a href="https://www.google.com/safetycenter/everyone/start/locking/" style="color:#00ccbc; text-decoration: none; font-weight:bold; line-height: 1.3em;"target="_blank">here’s some tips</a> for how you can keep your device secure.</p>
                                          </td>
                                      </tr>

                                      <tr>
                                          <td class="Rpadding0" style="padding:0 103px 32px 0">
                                              <p class="Bmargin16" style="font-family:HelveticaNeue, helvetica, arial, sans-serif; font-size:13px; line-height:1.4em; color:#828585; text-align:left; font-weight:normal; text-decoration:none; Margin:0; padding:0; mso-line-rule:exactly;">(Oh, and just in case you’re interested, the source code for the <code style="font-family:'Lucida Console', Monaco, monospace; font-size:11px; line-height:1.4em;">/goldblum</code> command can be <a href="https://support.apple.com/en-gb/HT204060" style="color:#00ccbc; text-decoration: none; font-weight:bold; line-height: 1.3em;"target="_blank">found on Github</a>.)</p>
                                          </td>
                                      </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
<!-- /F2: Original (Text only) -->
<!-- Z: Footer -->
<table class="section" role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td valign="top" align="center">
                        <table class="wrapper" role="presentation" style="min-width:650px; width: 650px;" cellspacing="0" cellpadding="0" border="0" width="650">
                            <tr>
                                <td class="mobHpadding" align="center" style="padding:0 25px 0 25px;">
                                    <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tr>
                                            <td style="border-top: 2px solid #f3f5f5; padding: 32px 0 32px 0" align="center">
                                                <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%">
                                                    <tr>
                                                        <td style="padding:0 0 12px 0;" align="center">
                                                            <table role="presentation" cellpadding="0" cellspacing="0" border="0" align="center">
                                                                <tr>
                                                                    <td width="30">
                                                                        <a href="https://www.facebook.com/deliveroo.uk" style="border:none;" target="_blank"><img src="https://roo-email-assets.s3.amazonaws.com/dist/appboy-assets/template/facebook@3x.png" style="display:block; border:none; font-family:arial, helvetica, sans-serif; font-size:14px; line-height:1.3em; color:#00ccbc; text-decoration:none; font-weight:bold; text-align: left;" alt="facebook" width="30" height="30"></a>
                                                                    </td>
                                                                    <td style="padding:0 30px 0 30px">
                                                                        <a href="https://instagram.com/deliveroo" style="border:none;" target="_blank"><img src="https://roo-email-assets.s3.amazonaws.com/dist/appboy-assets/template/instagram@3x.png" style="display:block; border:none; font-family:arial, helvetica, sans-serif; font-size:14px; line-height:1.3em; color:#00ccbc; text-decoration:none; font-weight:bold; text-align: left;" alt="instagram" width="30" height="30"></a>
                                                                    </td>
                                                                    <td width="30">
                                                                        <a href="https://twitter.com/Deliveroo" style="border:none;" target="_blank"><img src="https://roo-email-assets.s3.amazonaws.com/dist/appboy-assets/template/twitter@3x.png" style="display:block; border:none; font-family:arial, helvetica, sans-serif; font-size:14px; line-height:1.3em; color:#00ccbc; text-decoration:none; font-weight:bold; text-align: left;" alt="twitter" width="30" height="30"></a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <p style="font-family:arial, helvetica, sans-serif; font-size:9px; line-height:14px; color:#585c5c; text-align:center; font-weight:normal; text-decoration:none; Margin:12px 0 0 0; padding:0; mso-line-rule:exactly;"><a href="https://foodscene.deliveroo.co.uk/terms/?utm_source=deliveroo_crm&amp;utm_medium=email&amp;utm_campaign=terms" style="color:#585c5c; text-decoration:underline; font-weight:normal; line-height: 1.3em;" target="_blank">Terms &amp; conditions apply</a></p>
                                                <p style="font-family:arial, helvetica, sans-serif; font-size:9px; line-height:14px; color:#585c5c; text-align:center; font-weight:normal; text-decoration:none; Margin:12px 0 0 0; padding:0; mso-line-rule:exactly;">Deliveroo, The Heal's Building, 22-24 Torrington Place, London, WC1E 7HJ</p>
                                                <p style="font-family:arial, helvetica, sans-serif; font-size:9px; line-height:14px; color:#585c5c; text-align:center; font-weight:normal; text-decoration:none; Margin:12px 0 0 0; padding:0; mso-line-rule:exactly;">© 2017 Deliveroo</p>
                                                <p role="list" style="font-family:arial, helvetica, sans-serif; font-size:9px; line-height:14px; color:#585c5c; text-align:center; font-weight:normal; text-decoration:none; Margin:24px 0 0 0; padding:0; mso-line-rule:exactly;"><a role="listitem" href="https://deliveroo.co.uk/legal?utm_source=deliveroo_crm&amp;utm_medium=email&amp;utm_campaign=terms" style="color:#585c5c; text-decoration:underline; font-weight:normal; line-height: 14px;" target="_blank">Terms</a>   <a role="listitem" href="https://deliveroo.co.uk/privacy?utm_source=deliveroo_crm&amp;utm_medium=email&amp;utm_campaign=privacy" style="color:#585c5c; text-decoration:underline; font-weight:normal; line-height: 14px;" target="_blank">Privacy</a>   <a role="listitem" href="https://deliveroo.co.uk/faq?utm_source=deliveroo_crm&amp;utm_medium=email&amp;utm_campaign=about" style="color:#585c5c; text-decoration:underline; font-weight:normal; line-height:14px;" target="_blank">About Deliveroo</a>   <a role="listitem" href="https://deliveroo.co.uk/careers?utm_source=deliveroo_crm&amp;utm_medium=email&amp;utm_campaign=careers" style="color:#585c5c; text-decoration:underline; font-weight:normal; line-height: 14px;" target="_blank">Careers</a></p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
<!-- /Z: Footer -->
</td>
        <!-- Email, with care -->
    </tr>
</table>